<div align="right"><a class="btn btn-primary top-logout-btn" href="#/players">Go Back</a></div>
<div class="panel panel-default top-buffer">
  <div class="panel-heading">
        <h3 panel-firstName><span class="glyphicon glyphicon-info-sign"></span> About</h3>
  </div>
  <div class="panel-body">
    <div class="view">
        <div class="container">
            <header>
            </header>
            <br />
            <div class="container">
                <div class="row">
                    <div class="span2">Created by:</div>
                    <div class="span9"><a href="http://twitter.com/speaktosp" target="_blank">Saravana</a></div>
                </div>
                <br />
                <div class="row">
                    <div class="span2">Linked In:</div>
                    <div class="span9"><a href="https://www.linkedin.com/in/saravana-perumal-ramachandran-4249084/" target="_blank">LinkedIn</a></div>
                </div>
                <br />
                <div class="row">
                    <div class="span2">Email:</div>
                    <div class="span9"><a href="mailto:speaktosp@gmail.com" target="_blank">Contact me for details.</a></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
